# App settings
APP_NAME=tourism_services_review
APP_PORT=3000
APP_PRODUCTION=false

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name
DB_MIGRATIONS_RUN=false

# SMTP (email sending)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password

# JWT configuration
JWT_SECRET=your_main_jwt_secret
JWT_EXPIRES_IN=1h

# Email verification token
EMAIL_VERIFICATION_SECRET=your_email_verification_secret
EMAIL_VERIFICATION_EXPIRES_IN=15m

# Password reset & email verification redirect URLs
AUTH_RESET_URL=http://your_site.com/reset-password
AUTH_VERIFY_URL=http://your_site.com/verify-email

# Cloudinary credentials
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
